In [1]:
import pandas as pd

In [2]:
# Read in dataset covering proposals for American Rescue Plan Funding for Louisville, Kentucky and provided by
# the Louisville Metro Open Data Portal
df = pd.read_excel('ARP_Comment_Form_Redacted_FULL_0_(1).xlsx')

# Display column names
df.columns

Index(['Entry Id', 'Name', 'Last', 'Full Email', 'Phone Number', 'Zip Code',
       'Organization',
       'Support public health expenditures\n By funding COVID-19 mitigation efforts, medical expenses, behavioral healthcare, and certain public health and safety staff. \n\nAddress negative economic impacts caused by the public health emergency\nIncluding economic harms to workers, households, small businesses, impacted industries, and the public sector.\n\nReplace lost public sector revenue\nUsing this funding to provide government services to the extent of the reduction in revenue experienced due to the pandemic.\n\nProvide premium pay for essential workers\nOffering additional support to those who have borne and will bear the greatest health risks because of their service in critical infrastructure sectors.\n\nInvest in water, sewer, and broadband infrastructure\nMaking necessary investments to improve access to clean drinking water, support vital wastewater and storm water infrastructure, and to expand access to broadband internet.\n',
       'Comments:', 'Date Created', 'Created By', 'Last Updated', 'Updated By',
       'IP Address', 'Last Page Accessed', 'Completion Status'],
      dtype='object')

In [3]:
# Replace column names with more human parseable values
df.columns = ['Entry Id', 'Name', 'Last', 'Full Email', 'Phone Number', 'Zip Code',
       'Organization',
       'Social Benefit',
       'Comments:', 'Date Created', 'Created By', 'Last Updated', 'Updated By',
       'IP Address', 'Last Page Accessed', 'Completion Status']

In [4]:
# Sanity check
df.columns

Index(['Entry Id', 'Name', 'Last', 'Full Email', 'Phone Number', 'Zip Code',
       'Organization', 'Social Benefit', 'Comments:', 'Date Created',
       'Created By', 'Last Updated', 'Updated By', 'IP Address',
       'Last Page Accessed', 'Completion Status'],
      dtype='object')

In [5]:
# Display a Datafram Row to assess 'the lay of the land.'
df.head(1)

,Entry Id,Name,Last,Full Email,Phone Number,Zip Code,Organization,Social Benefit,Comments:,Date Created,Created By,Last Updated,Updated By,IP Address,Last Page Accessed,Completion Status
0,14,Marty,Merkel,mmerkel@jrarchitects.com,5025834697,40206,NaN,Address negative economic impacts caused by th...,"Fund LRDA, Louisville Downtown Residents Assoc...",2021-06-10 22:14:00,public,NaN,NaN,[IP ADDRESS REDACTED],1,1

In [6]:
# Find number of rows and columns in the dataset
df.shape

(1337, 16)

In [7]:
# Find count of non-null values and datatype of each DataFrame column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337 entries, 0 to 1336
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entry Id            1337 non-null   int64
 1   Name                1337 non-null   object
 2   Last                1337 non-null   object
 3   Full Email          1337 non-null   object
 4   Phone Number        1232 non-null   object
 5   Zip Code            1336 non-null   object
 6   Organization        775 non-null    object
 7   Social Benefit      1235 non-null   object
 8   Comments:           794 non-null    object
 9   Date Created        1337 non-null   datetime64[ns]
 10  Created By          1337 non-null   object
 11  Last Updated        0 non-null      float64
 12  Updated By          0 non-null      float64
 13  IP Address          1337 non-null   object
 14  Last Page Accessed  1337 non-null   int64
 15  Completion Status   1337 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(10)
memory usage: 167.3+ KB

In [8]:
# Find the count of NULL values in each DataFrame column
df.isna().sum()

Entry Id                 0
Name                     0
Last                     0
Full Email               0
Phone Number           105
Zip Code                 1
Organization           562
Social Benefit         102
Comments:              543
Date Created             0
Created By               0
Last Updated          1337
Updated By            1337
IP Address               0
Last Page Accessed       0
Completion Status        0
dtype: int64

In [9]:
# Drop any columns that contain no valid values aka 1337 NULLs
df.drop(['Last Updated', 'Updated By'], axis=1, inplace=True)

In [10]:
# Find the count of NULL values in each DataFrame column (Sanity check)
df.isna().sum()

Entry Id                0
Name                    0
Last                    0
Full Email              0
Phone Number          105
Zip Code                1
Organization          562
Social Benefit        102
Comments:             543
Date Created            0
Created By              0
IP Address              0
Last Page Accessed      0
Completion Status       0
dtype: int64

In [11]:
# Find the first three NULL values in the Phone Number column
df[df['Phone Number'].isna() == True].head(3)

,Entry Id,Name,Last,Full Email,Phone Number,Zip Code,Organization,Social Benefit,Comments:,Date Created,Created By,IP Address,Last Page Accessed,Completion Status
38,135,Erin,Fulkerson,efulkerson@sevencounties.org,NaN,40207,Seven Counties Services/ Bellewood & Brooklawn,Address negative economic impacts caused by th...,Please consider the following for Seven Counti...,2021-07-02 08:37:00,public,[IP ADDRESS REDACTED],1,1
43,142,Caitlin,Osterhoudt,costerhoudt@sevencounties.org,NaN,40203,NaN,Address negative economic impacts caused by th...,NaN,2021-07-02 09:10:00,public,[IP ADDRESS REDACTED],1,1
45,144,Zahjona,Henry,zhenry@sevencoutnies.org,NaN,42101,Seven Counties Services: Bellewood,Address negative economic impacts caused by th...,I honestly think each category should get some...,2021-07-02 09:17:00,public,[IP ADDRESS REDACTED],1,1

In [12]:
df.fillna({'Phone Number':'5028675309'}, inplace=True)

In [13]:
df.isna().sum()

Entry Id                0
Name                    0
Last                    0
Full Email              0
Phone Number            0
Zip Code                1
Organization          562
Social Benefit        102
Comments:             543
Date Created            0
Created By              0
IP Address              0
Last Page Accessed      0
Completion Status       0
dtype: int64

In [14]:
# Create a function to handle the rest of the columns that contain NULL values
def fill_nulls(column, value):
    return df.fillna({column: value}, inplace=True)

In [15]:
# Create a list of the columns which contain the NULL values
null_names = df.columns[df.isnull().any()].tolist()

# Display the list
null_names

['Zip Code', 'Organization', 'Social Benefit', 'Comments:']

In [16]:
# Create a list to contain the values to fill the NULLs
null_values = ['Unknown Zip', 'Anonymous Organization', 'Unidentified Benefit', 'No additional commentary' ]

In [17]:
# Zip our column/value pairings into a Dictionary
null_dict = dict(zip(null_names, null_values))

# Display our dictionary
null_dict

{'Zip Code': 'Unknown Zip',
 'Organization': 'Anonymous Organization',
 'Social Benefit': 'Unidentified Benefit',
 'Comments:': 'No additional commentary'}

In [18]:
# Run our function inside of a for loop passing the column and replacement value for each item
for key, value in null_dict.items():
    fill_nulls(key, value)

In [ ]:
# Sanity check 
df.isna().sum()

Entry Id              0
Name                  0
Last                  0
Full Email            0
Phone Number          0
Zip Code              0
Organization          0
Social Benefit        0
Comments:             0
Date Created          0
Created By            0
IP Address            0
Last Page Accessed    0
Completion Status     0
dtype: int64

In [20]:
df[df['Comments:'] == 'No additional commentary']

,Entry Id,Name,Last,Full Email,Phone Number,Zip Code,Organization,Social Benefit,Comments:,Date Created,Created By,IP Address,Last Page Accessed,Completion Status
6,38,[FIRST NAME REDACTED],[LAST NAME REDACTED],[EMAIL REDACTED],[PHONE REDACTED],40205,Anonymous Organization,Address negative economic impacts caused by th...,No additional commentary,2021-06-11 13:00:00,public,[IP ADDRESS REDACTED],1,1
13,67,[FIRST NAME REDACTED],[LAST NAME REDACTED],[EMAIL REDACTED],[PHONE REDACTED],40203,Anonymous Organization,Address negative economic impacts caused by th...,No additional commentary,2021-06-14 21:09:00,public,[IP ADDRESS REDACTED],1,1
14,71,[FIRST NAME REDACTED],[LAST NAME REDACTED],[EMAIL REDACTED],[PHONE REDACTED],40204,Anonymous Organization,Address negative economic impacts caused by th...,No additional commentary,2021-06-15 13:54:00,public,[IP ADDRESS REDACTED],1,1
23,103,Stephanie,Davidson,stephanie@onewest.org,5029075147,40203,OneWest,Address negative economic impacts caused by th...,No additional commentary,2021-06-23 11:54:00,public,[IP ADDRESS REDACTED],1,1
24,104,Rebecca,grau,rebecca@foodliteracyproject.org,5024190606,40207,The Food Literacy Project,Address negative economic impacts caused by th...,No additional commentary,2021-06-23 11:59:00,public,[IP ADDRESS REDACTED],1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,942,Sandy,Spears,Sandy.Spears@kctcs.edu,5028675309,40205,Jefferson Community and Technical,Unidentified Benefit,No additional commentary,2021-07-19 12:12:00,public,[IP ADDRESS REDACTED],1,1
1284,955,[FIRST NAME REDACTED],[LAST NAME REDACTED],[EMAIL REDACTED],[PHONE REDACTED],40299,Anonymous Organization,Unidentified Benefit,No additional commentary,2021-07-19 14:57:00,public,[IP ADDRESS REDACTED],1,1
1295,1071,[FIRST NAME REDACTED],[LAST NAME REDACTED],[EMAIL REDACTED],[PHONE REDACTED],40202,Louisville Y.A.B.,Unidentified Benefit,No additional commentary,2021-07-22 23:00:00,public,[IP ADDRESS REDACTED],1,1
1296,1072,[FIRST NAME REDACTED],[LAST NAME REDACTED],[EMAIL REDACTED],[PHONE REDACTED],40059,Anonymous Organization,Unidentified Benefit,No additional commentary,2021-07-23 05:34:00,public,[IP ADDRESS REDACTED],1,1
1326,1324,Wail,Sabarneh,wsabarneh@yahoo.com,5133383412,40223,Louisville liquidation,"Invest in water, sewer, and broadband infrastr...",No additional commentary,2021-08-21 18:09:00,public,[IP ADDRESS REDACTED],1,1

In [21]:
df.groupby('Name')['Entry Id'].count().sort_values(ascending=False)

Name
[FIRST NAME REDACTED]    864
Michael                   10
James                      6
Stephanie                  5
Mark                       4
                        ...
mark                       1
laura                      1
lacey                      1
kristin                    1
kim                        1
Name: Entry Id, Length: 371, dtype: int64

In [22]:
df['Name'].value_counts()

Name
[FIRST NAME REDACTED]    864
Michael                   10
James                      6
Stephanie                  5
Brian                      4
                        ...
Ludmilla                   1
Brittany                   1
Kelly                      1
Zahjona                    1
Tracy                      1
Name: count, Length: 371, dtype: int64

In [23]:
for col in df.columns:
    print(df[col].value_counts())

Entry Id
1324    2
1322    2
1323    2
29      1
31      1
       ..
1172    1
1179    1
1183    1
1210    1
28      1
Name: count, Length: 1334, dtype: int64
Name
[FIRST NAME REDACTED]    864
Michael                   10
James                      6
Stephanie                  5
Brian                      4
                        ...
Ludmilla                   1
Brittany                   1
Kelly                      1
Zahjona                    1
Tracy                      1
Name: count, Length: 371, dtype: int64
Last
[LAST NAME REDACTED]    864
Smith                     7
Miller                    5
Johnson                   5
Brown                     4
                       ...
McCracken                 1
r                         1
Shea                      1
Burke                     1
ramser                    1
Name: count, Length: 408, dtype: int64
Full Email
[EMAIL REDACTED]                     864
charmaine.smith@louisvilleky.gov       4
timmy.risinger@louisvlleky.gov         3
katreese.walker@louisvilleky.gov       3
rebecca.hatfield@louisvilleky.gov      2
                                    ...
tshipp@sevencounties.org               1
smccarty@sevencounties.org             1
michael.tobbe@louisvilleky.gov         1
george.sanders@louisvilleky.gov        1
louis.burke@louisvilleky.gov           1
Name: count, Length: 448, dtype: int64
Phone Number
[PHONE REDACTED]    862
5028675309          105
5024511221            4
5025747500            3
5025747519            3
                   ...
5028023679            1
8122078482            1
5028933815            1
8593299382            1
5026412210            1
Name: count, Length: 346, dtype: int64
Zip Code
40205         83
40202         76
40216         66
40214         59
40272         57
              ..
47122          1
40059-         1
A              1
40216-4334     1
40204-1353     1
Name: count, Length: 115, dtype: int64
Organization
Anonymous Organization                               562
CLOUT                                                 47
LMDC                                                  27
Louisville Zoo                                        22
Seven Counties Services                               21
                                                    ...
Delta Sigma Theta Sorority Inc.                        1
DICKEN Enterprises, Inc.                               1
The Morton Center, Inc.                                1
Jeffersontown Rehabilitation and Clearview Health      1
Previous Chairman of Anchorage EMS                     1
Name: count, Length: 450, dtype: int64
Social Benefit
Provide premium pay for essential workers                                  776
Address negative economic impacts caused by the public health emergency    203
Support public health expenditures                                         124
Unidentified Benefit                                                       102
Invest in water, sewer, and broadband infrastructure                        95
Replace lost public sector revenue                                          37
Name: count, dtype: int64
Comments:
No additional commentary                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               543
Louisville Metro needs to dedicate $100 million dollars for affordable housing, including an additional $30 million for the Louisville Affordable Housing Trust Fund, in order to address our city's affordable housing shortage of approximately 30,000 units.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         12
Louisville Metro needs to dedicate $100 million dollars for affordable housing, of that an additional $30 mil for the Louisville Affordable Housing Trust Fund in order to address our city's affordable housing crisis which stems from a shortage of approximately 30,000 units.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       6
a.\tIncreased community supports for transitional age youth, particularly those transitioning out of foster care_x000D_\nb.\tExpansion of crisis services including Addiction Stabilization Unit programs and supports for crisis drop-in services_x000D_\nc.\tSpecialized after school and out of school time aimed to reduce education disparities with families in the west and south neighborhoods of Louisville_x000D_\nd.\tCrisis Services for adults with mental illness_x000D_\ne.\tSupport for adolescent specialty services _x000D_\nf.\tWrap around services for youth in foster care and their families_x000D_\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             4
The Louisville bats baseball club is a cornerstone to the socioeconomic impact in the city of Louisville. The COVID 19 pandemic took an entire season from minor league baseball. This impact took countless of millions of dollars in loss revenue for the organization that has itself at an enormously understaffed front office, infrastructure issues around and the stadium, and low revenue across the board. This payment can help bring slugger field back to normalization.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
I am writing to encourage the Accelerator Team and Metro Council to use AFP funds to address the rising rate of gun violence in Louisville, including mental health programs utilizing evidence-based strategies for suicide prevention.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
I am writing to encourage the Accelerator Team and Metro Council to use ARP funds to address the rising rate of gun violence in Louisville, including support for mental health programs utilizing evidence-based strategies for suicide prevention. Gun violence nearly ended my life and preventing it is my top priority.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
I am writing to encourage the Accelerator Team and Metro Council to use ARP funds to address the rising rate of gun violence in Louisville, including support for mental health programs utilizing evidence-based strategies for suicide prevention._x000D_\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
I am writing to encourage the Accelerator Team and Metro Council to use ARP funds to address the rising rate of gun violence in Louisville, including support for mental health programs utilizing evidence-based strategies for suicide prevention.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Nearly $6 million in marketing for downtown is a hard no from this resident. I love downtown, was down there yesterday in fact. The Convention and Visitors Bureau is more than capable of handling this for far less than $6 million. Our city has proved time and time again to be incapable of addressing real needs downtown, let's start with housing the homeless instead of criminalizing them. Let's stop giving away millions of dollars to giant corporation 4th Street Live, the Omni. Let's stop assuming marketing downtown means convincing wealthy east end residents to visit, no amount of marketing is going to change the majority of their minds. Make downtown a place people want to be and we will come, marketing is not the problem. Remove cars, incentivize development of surface lots, subsidize popular local businesses to come downtown, do away with all the one-way streets. This kind of thing has been done all over the world, and right across the river. It's not rocket science and it's not marketing. Create a place people want to be and go and they will come, putting up banners, creating a tag line, and airing a commercial isn't the way to invest these dollars.      1
Name: count, Length: 773, dtype: int64
Date Created
2021-07-12 10:35:00    6
2021-07-12 11:00:00    4
2021-07-02 11:41:00    4
2021-07-12 10:42:00    4
2021-07-12 10:49:00    4
                      ..
2021-07-26 11:00:00    1
2021-07-26 13:49:00    1
2021-07-26 17:13:00    1
2021-07-27 11:54:00    1
2021-07-29 19:10:00    1
Name: count, Length: 1243, dtype: int64
Created By
public    1337
Name: count, dtype: int64
IP Address
[IP ADDRESS REDACTED]    1337
Name: count, dtype: int64
Last Page Accessed
1    1337
Name: count, dtype: int64
Completion Status
1    1337
Name: count, dtype: int64